<form>
    <h2>Cadastro de curso</h2>
    <div>
        <label for="nome">Nome</label>
        <input id="nome" name="nome" type="text" />
    </div>
    <div>
        <label for="cargaHoraria">Carga horária</label>
        <input id="cargaHoraria" name="cargaHoraria" type="text" />
    </div>
    <div>
        <label for="modalidade">Modalidade</label>
        <select id="modalidade" name="modalidade">
            <option value="null"></option>
            <option value="m1">Presecial</option>
            <option value="m2">EAD</option>
            <option value="m3">Híbrido</option>
        </select>
    </div>
    <button>Salvar</button>
</form>